<div class="container text-center">
     
     <h1 class="">Rules for Posting</h1>
     <ul style="list-style: none;">
          <li>No Vulgar Language</li>
          <li>No Bullying</li>
          <li>No Spaming</li>
          <li>No Copy Pasting</li>
         <li>No Cheating </li>
          <li>References are must</li>
          <li>Image is needed</li>
          <li>Keep it short and simple</li>


     </ul>


    </div>
    <!-- /.container-fluid-->
